<section id="about">
  <h2>About Us</h2>
  <p>We are OHBANG LIFE LLC, group of GA locals aims to create a dedicated portal that serves as a worry-free, exclusive, and comprehensive one-stop solution
    for the day-to-day service needs of our community.
  </p>
  <p>We carefully identify, evaluate, and collaborate with the service providers, both individuals and companies, to deliver you a seamless and comprehensive one-stop experience through our services.
  </p>

  <body>
  <h4>Services We Offer</h4>
  <ul>
    <li>Moving involves of packing/unpacking, loading/unloading, transporting, cleaning, disposal and etc.</li>
    <li>Taxi involves of scheduled pick-up/drop-off, no realtime services accepted, allowing us 24-48 hrs advance to coordinate.</li>
    <li>House cleaning involves of dusting, vacuuming, sweep and mop, interior cleaning, and trash removal.</li>
    <li>Deep cleaning involves of carpet/hardwood deep clean, dryer/ac dusting, pressure wash.</li>
  </ul>
  <br>
  <h4>Contact Us</h4>
  <ul>
    <li>email:</li>
    <li>phone:</li>
  </ul>
  <br>
  <h4>Privacy Policy</h4>
  <ul>
    <li>Under no circumstances will your personal details and inputted data be passed on to any third party without your permission.</li>
    <li>Our code standard will also make sure the safety and prevent data leak.</li>
    <li>We will never sell or share your data to any third party.</li>
    <li>As for now, we are using google map/places API to auto-complete and suggest your input for addresses to improve UX.</li>
  </ul>
  </body>
</section>
