<section id="moving">
  <h2>Moving Services</h2>
  <p>Details about moving services.</p>
</section>
<section id="taxi">
  <h2>Taxi Services</h2>
  <p>Details about taxi services.</p>
</section>
<section id="house-cleaning">
  <h2>House Cleaning</h2>
  <p>Details about house cleaning services.</p>
</section>
<section id="deep-cleaning">
  <h2>Deep Cleaning</h2>
  <p>Details about deep cleaning services.</p>
</section>
<section id="about">
  <h2>About Us</h2>
  <p>Details about us.</p>
</section>
<section id="individual">
  <h2>Join Us as an Individuals</h2>
  <p>reach out to one of our associates:</p>
</section>
<section id="business">
  <h2>Join Us as an Business entity or services provider</h2>
  <p>reach out to one of our associates:</p>
</section>
