<section id="moving">
  <h2>Moving Services</h2>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <!-- loading Button -->
    <p>What service do you need:</p>
    <input type="hidden" [(ngModel)]="selectedOption" name="selectedOption" required/>
    <div class="button-container">
      <button
        type="button"
        [class.active]="selectedOption === 'loading'"
        [class.inactive]="selectedOption && selectedOption !== 'loading'"
        (click)="onToggleChange('loading')">
        Loading
      </button>

      <!-- Unloading Button -->
      <button

        type="button"
        [class.active]="selectedOption === 'unloading'"
        [class.inactive]="selectedOption && selectedOption !== 'unloading'"
        (click)="onToggleChange('unloading')">
        Unloading
      </button>

      <!-- Both Button -->
      <button
        type="button"
        [class.active]="selectedOption === 'both'"
        [class.inactive]="selectedOption && selectedOption !== 'both'"
        (click)="onToggleChange('both')">
        Both
      </button>
    </div>


    <!-- moving from Address -->
    <div *ngIf="loading || loadAndUnload">
      <p>Enter the address moving from:</p>
      <app-address-autocomplete
        id="moving-address-from"
        (addressSelected)="onAddressSelected($event, 'from')"
        (addressInputted)="onAddressChange($event, 'from')">
      </app-address-autocomplete>
      <select id="movingFromPropertyTypeFrom" name="movingFromPropertyTypeFrom" [(ngModel)]="movingFromPropertyTypeFrom">
        <option [ngValue]="undefined" disabled>Select the property type</option>
        <option *ngFor="let type of propertyTypes" [ngValue]="type">
          {{ type }}
        </option>
      </select>
      <div *ngIf="!googleDepartureLocation?.formattedAddress && form.submitted" class="error">
        recommended from address is not selected.
      </div>
    </div>

    <!-- Destination Address -->
    <div *ngIf="unloading || loadAndUnload">
      <p>Enter the address moving to:</p>
      <app-address-autocomplete
        type="text"
        id="moving-address-to"
        (addressSelected)="onAddressSelected($event, 'to')"
        (addressInputted)="onAddressChange($event, 'to')">
      </app-address-autocomplete>
      <select id="movingFromPropertyTypeTo" name="movingFromPropertyTypeTo" [(ngModel)]="movingFromPropertyTypeTo">
        <option [ngValue]="undefined" disabled>Select the property type</option>
        <option *ngFor="let type of propertyTypes" [ngValue]="type">
          {{ type }}
        </option>
      </select>
      <div *ngIf="!googleDestinationLocation?.formattedAddress && form.submitted" class="error">
        recommended to address is not selected.
      </div>
    </div>
    <br>

    <!-- helper start Time -->
    <div>
      <p>Appx moving start time:</p>
      <input type="date" name="fromDate" [(ngModel)]="fromDate" [min]="today" required/>
      <div *ngIf="fromDate.length==0 && form.submitted" class="error">helper start date is required.</div>

      <select [(ngModel)]="fromHour" name="fromHour" required>
        <option disabled value="" selected>Select hour</option>
        <option *ngFor="let hour of Utils.hours" [value]="hour">{{ hour }}</option>
      </select>
      <div *ngIf="fromHour.length==0 && form.submitted" class="error">helper start hour is required.</div>

      <select [(ngModel)]="fromMinute" name="fromMinute" required>
        <option disabled value="" selected>Select minute</option>
        <option *ngFor="let minute of Utils.minutes" [value]="minute">{{ minute }}</option>
      </select>
      <div *ngIf="fromMinute.length==0 && form.submitted" class="error">helper start minute is required.</div>
    </div>

    <!-- Finish Time (Only if Requested By Hours) -->
    <div>
      <p>Appx moving finish time:</p>
      <input type="date" name="toDate" [(ngModel)]="toDate"  [min]="fromDate" required/>
      <div *ngIf="toDate.length==0 && form.submitted" class="error">Finish date is required.</div>

      <select [(ngModel)]="toHour" name="toHour" required>
        <option disabled value="" selected>Select hour</option>
        <option *ngFor="let hour of Utils.hours" [value]="hour">{{ hour }}</option>
      </select>
      <div *ngIf="toHour.length==0 && form.submitted" class="error">Finish hour is required.</div>

      <select [(ngModel)]="toMinute" name="toMinute" required>
        <option disabled value="" selected>Select minute</option>
        <option *ngFor="let minute of Utils.minutes" [value]="minute">{{ minute }}</option>
      </select>
      <div *ngIf="toMinute.length==0 && form.submitted" class="error">Finish minute is required.</div>

    </div>

    <div>
      <br>
      <select id="helpers" [(ngModel)]="helpers" name="helpers" required>
        <option [ngValue]="undefined" disabled>Select number of helpers needed</option>
        <option *ngFor="let helper of Utils.helpers" [ngValue]="helper">
          {{ helper }}
        </option>
      </select>
    </div>

    <!-- 2. Dropdown for moveRequestVehicleType -->
    <div>
      <br>
      <select id="moveRequestVehicleType" name="moveRequestVehicleType" [(ngModel)]="moveRequestVehicleType" required>
        <option [ngValue]="undefined" disabled>Select if need us to provide the moving truck</option>
        <option *ngFor="let vehicle of moveRequestVehicleTypes" [ngValue]="vehicle">
          {{ vehicle }}
        </option>
      </select>
    </div>

    <!-- 3. Checkbox for moveApplianceUpOrDown -->
    <div>
      <p>
        <input type="checkbox" id="moveApplianceUpOrDown" name="moveApplianceUpOrDown" [(ngModel)]="moveApplianceUpOrDown">
        Do we need to move any appliance up or down stairs such as refrigerator, oven, washer, dryer?
      </p>
    </div>

    <!-- 4. Checkbox for hasSpecialItems -->
    <div>
      <p>
        <input type="checkbox" id="hasSpecialItems" name="hasSpecialItems" [(ngModel)]="hasSpecialItems">
        Check if you have any special items such as piano, fine china, art collection, treadmill, etc.
      </p>
    </div>


      <!-- Contact Information Section -->
      <div>
          <h3>Contact Information</h3>

          <!-- Phone Input -->
          <app-contact-input
                  type="phone"
                  label="Phone Number"
                  (phoneNumberChange)="phoneNumber = $event">
          </app-contact-input>

          <!-- Email Input -->
          <app-contact-input
                  type="email"
                  label="Email Address"
                  (emailChange)="emailAddress = $event"
                  (preferredMethodChange)="preferredContactMethod = $event">
          </app-contact-input>
      </div>

    <!-- Submit Button (Disabled if Form is Invalid) -->
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  </form>

</section>
