* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General styles */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling across sections */
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Full viewport height for desktop */
  overflow-y: auto; /* Allow vertical scrolling within the section */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  section {
    height: auto; /* Allow content to grow beyond viewport for smaller devices */
  }
}
